html {
  font-size: larger;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body {
  margin: 0%;
}

.TituloMenu {
  text-align: center;
}

img.ImageMenu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.DescripcionMenu {
  border: black double;
  padding: 0.5em;
  margin: 2em 16%;
}

.IngredientsMenu {
  border: black double;
  padding: 0.5em;
  margin: 2em 16%;
}
.StepsMenu {
  border: black double;
  padding: 0.5em;
  margin: 2em 16%;
}
.FooterBox {
  border: black double;
  padding: 0.5em;
  margin: 2em 16%;
}
.FooterMenu {
  display: flex;
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
}

li {
  padding: 0.5em;
}

.TituloIndex {
  text-align: center;
}

.GifIndex {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.FlexImageIndex {
  display: flex;
  justify-content: space-evenly;
}

.AMenu{
    margin-bottom: 4%;
    margin-top: 4%;
}
